@import 'src/assets/styles/helpers/all';

.button {
  @include button-m();
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  transition: 0.3s;
  gap: 4px;
  padding: 6px 12px;
  background:linear-gradient(135deg, $primary300 0%, #764ba2 100%); /* $primary300; */

  &:hover:not(:disabled) {
    background: linear-gradient(135deg, $primary500 0%, #633f88 100%);/* $primary500; */
  }

  &:active:not(:disabled) {
    color: rgba($neutral0, 0.7);

    svg {
      opacity: 0.7;
    }
  }

  &:disabled {
    background: $transparent50016;
    border-color: $transparent50016;
    color: $neutral600;
    pointer-events: none;

    svg {
      opacity: 0.4;
    }
  }
}
