@import 'src/assets/styles/helpers/all';

/* ====  BOTTOM NAV  ==== */
.bottom-nav{
  position: sticky;

  bottom:0;
  margin-left: -20px;
  width:calc(100% + 40px);
  margin-bottom: -20px;
  background:#111;
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:60px;
  border-top:1px solid #2a2a2a;
}
.bottom-nav .nav-item{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  cursor:pointer;
  color:var(--textSoft);
  transition:background .25s,color .25s;
}
.bottom-nav .nav-item.active{
  background:var(--accentOrange);
  color:#fff;
}
.bottom-nav svg{
  width:24px;
  height:24px;
  fill:currentColor;
}

.bottom-nav i{
  width:24px;
  height:24px;
  fill:currentColor;
}